attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
certifi==2020.12.5
dnd-app==0.0.0
docutils @ file:///D:/bld/docutils_1618676443316/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877486026/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
Kivy @ file:///D:/bld/kivy_1619129412224/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
Pillow @ file:///D:/bld/pillow_1621288212302/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1620245170812/work
pyrsistent @ file:///C:/ci/pyrsistent_1600123688363/work
six @ file:///C:/ci/six_1605205426665/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
wincertstore==0.2
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
